extends layout

block content
  
  div.container(style="width: auto;")

    div.page-header
      h1 See statistics by route

    form.form-horizontal(method='post', role='form', enctype='application/json')
      div.form-group
        label.col-sm-4 Select a route
        div.col-sm-8
          select(name='route').form-control
            each o in routes
              option #{o.orig + '-' + o.dest}

      div.form-group
        div.col-sm-offset-4.col-sm-8
          button.login.btn.btn-primary(type='submit') See statistics