extends layout

block script
  script(type="text/javascript")
    | $(function () {$('#datetimepicker1').datetimepicker();});

block content
  
  div.container(style="width: auto;")

    div.page-header
      h1 Help us!
      h3 Rate an airline and report on flight fares you paid
      p
        | You have to
        a(href="/account")  create an account
        |  first if you don't have one.

    p Thank you! Your rating has been submitted.
      